@import "./styles/starAnimation.css";
@import "./styles/removeAutofillBackground.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.a-link {
  @apply text-blue-600 underline visited:text-purple-600 hover:text-blue-800;
}

.modebar-group {
  display: contents !important;
}

.modebar {
  display: flex;
  padding-top: 0.5rem !important;
}

.star-bg {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html {
  scroll-behavior: smooth;
}
